#draggable-stickers{
    position: fixed;
    inset: 0;
    z-index: 10;
    pointer-events: none;

    img{
        position: absolute;
        width: 60px;
        user-select: none;
        -webkit-user-drag: none;
        cursor: grab;
        pointer-events: auto;
    }

    img:active{
        cursor: grabbing;
    }
}

@media (max-width: 768px) {
    #draggable-stickers{
        display: none;
    }
}
