#contact-section {
   background-color: var(--secondary-background-color);
   width: 100%;
   display: flex;
   gap: 20px;
   align-items: center;
   justify-content: center;

   #social-links {
      width: 450px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;

      a {
         position: relative;
         border: 1px solid var(--primary-text-color);
         border-radius: 5px;
         padding: 10px;
         text-decoration: none;
         color: var(--primary-text-color);
         display: flex;
         justify-content: center;
         flex-direction: column;
         align-items: start;
         gap: 10px;
         transition: 0.1s;

         &:hover {
            background-color: #444;
            transform: translateY(-4px);
            box-shadow: 0 4px 0 var(--primary-text-color);
         }

         &::after {
            content: "↗";
            position: absolute;
            top: 8px;
            right: 10px;
            font-size: 16px;
            color: var(--primary-text-color);
         }

         .title-box {
            display: flex;
            gap: 15px;
            color: rgb(138, 138, 138);
            font-size: 12px;

            img {
               width: 30px;
            }
         }
      }

      #linkedin {
         grid-column: 1 / -1;
         grid-row: 2;
      }

      #zapp {
         grid-column: 2;
         grid-row: 1;
      }
   }
}